bottle==0.11.6
unittest2==0.5.1
gevent==1.0.2

# Parsing
html5lib==1.0b8
beautifulsoup4==4.2.1
lxml==3.3.5

# Output
Jinja2==2.7.1
PyYAML==5.1
rdflib==4.0.1

# Speed optimization
python-binary-memcached==0.26
python-memcached==1.57
simplejson==3.3.0

# Only needed for amazon seller provider
python-amazon-product-api==0.2.8

# Seller optimizations
futures==2.1.4
celery==3.1.18

jsonschema==2.4.0

redis==2.10.6
